
{% extends "layout.html" %}

{% block content %}

  <main class="hero-section">
    <div class="container">

      <!--<div class="section-content">
        <h2>Events</h2>
      </div> -->



      <aside role="complementary" class="languages">
    <h3>Events</h3>
    <form action = "http://10.1.1.134:5000">
      <button  type="submit">Show Event</button>
      <select name="event">
        <option value="1">Foo</option>
        <option value="2">Bar</option>

      </select>
    </form>
    <div id="tabContainer">
      <div id="tabs">
      <ul>
        <li>{{ event['title'] }}</li>
      </ul>
    </div>
      </div>
      <div id="containers">
      <div id="tabPanel1">
        <p>{{ event['articles'][id]['content'] }}</p>
        <h4>Charlottesville</h4>
        <p><strong>this is line one</p>
        <p>this is line two</p>
      </div>
      <div id="tabPanel2">
        <h4>London Olympics</h4>
        <p><strong>how coool are we</p>
        <p>yeah we are ecool</p>
      </div>
      <div id="tabPanel3">
        <h4>Australia Day</h4>
        <p><strong>Good job michael</strong> </p>
        <p> yeah yeah yeah </p>
      </div>
    </div>
  </div>
    </aside>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
