
{% extends "layout.html" %}

{% block content %}

  <main class="hero-section">
    <div class="container">

      <!--<div class="section-content">
        <h2>Events</h2>
      </div> -->



      <aside role="complementary" class="languages">
    <h3>Events</h3>
    <form action = "http://10.1.1.134:5000">
      <button  type="submit">Show Event</button>
      <select name="event">
        <option value="1">World</option>
        <option value="12">Science</option>
        <option value="8">Politics</option>
        <option value="10">Gender Inequality</option>
        <option value="5">Charlottesville</option>
        <option value="13">Populism</option>
        <option value="7">City Services</option>
      </select>
    </form>
    <div id="tabContainer">
      <div id="tabs">
      <ul>
        <li>{{ event['title'] }}</li>
        <li>{{ event['articles']['rating'] }}
        <li>{{ event['articles']['source'] }}
      </ul>
    </div>
      </div>
      <div id="containers">
      <div id="tabPanel1">
        <p>{{ event['articles']['content'] }}</p>
      </div>
    </div>
  </div>
    </aside>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
